@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  margin:  0%;
  font: 400 18px Roboto, sans-serif;
}

.screen {
 
  width: 100vw;
  height: 100vh;
  background: #353432;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.screen2 {
  position: absolute;
  width: 600px;
  height: 100vh;
  background: #1F4B7A;
  text-align: center;
  
}

.titleIntro {
  color: #ffffff;
  background: #217DA5;
  display: flex;
  justify-content: center;
}

#introfilmes {
  font-size: 40px;
  margin-right: 80px;
  margin-bottom: 20px;
}

#frase {
  font-size: 6px;
  margin-right: 105px;
}

.introFilmes {
  margin-top: 0px;
  display: flex;
  padding-left: 100px;
  line-height: 10px;
  color: #ffffff;
}

#line {
  
  border: 1px solid #217DA5;
  display: flex;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 70px;
  
}

#img1 {
  width: 100px;
  height: 40px;
}

#catalogo {
  color: white;
  font-size: 20px;
}

#img2 {
  width: 120px;
  height: 70px;
  padding-top: 10px;
  padding-left: 10px;
  margin-left: 0px;
}

#img3 {
  
  width:100px;
  height: 50px;
}
.test {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#footer {
  position: absolute;
  bottom: 0px;
  background: #0B2D52;
  padding: 31px 250px 31px 250px ;
  
}

#t {
  background-color: darkgoldenrod;
  width: 400px;
  height: 40px;
}